## Basic if-else

In [117]:
phone_balance = 10
bank_balance = 100

if phone_balance < 5:
    phone_balance += 10
    bank_balance -= 10
    
print(phone_balance, bank_balance)

10 100

## ```if-elif-else``` block

In [118]:
points = 174

if points <= 50:
    result = "Congratulations! You won a wooden rabbit!"
elif points <= 150:
    result = "Oh dear, no prize this time."
elif points <= 180:
    result = "Congratulations! You won a wafer-thin mint!"
else:
    result = "Congratulations! You won a penguin!"

print(result)

Congratulations! You won a wafer-thin mint!

Boolean expression for condition `and` and `or` operator can be used in condition

In [119]:
# in kg 
weight = 50
# in meter 
height = 1.64592

bmi = weight / height **2
bmi = round(bmi, 2)

if 18.5 <= bmi < 25:
    print("BMI is considered 'normal'")
else:
    print('BMI is bad ! '+ str(bmi))

BMI is bad ! 18.46

## Loop

python has two types of loop, **for** and **while**. for loop iterate over an iterable. 

An **iterable** is an object that can return one of its elements at a time. This can include sequence types, such as strings, lists, and tuples, as well as non-sequence types, such as dictionaries and files.

In [120]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for city in cities:
    print(city.title())
print("Done!")

New York City
Mountain View
Chicago
Los Angeles
Done!

Iterate using ```range(start, end, step)``` if start and step does not specify, then default value will be 0 and 1

In [121]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']

for index in range(len(cities)):
    cities[index] = cities[index].title()
    
print(cities)

['New York City', 'Mountain View', 'Chicago', 'Los Angeles']

## Dictionary

In [122]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']

word_counter = {}

for item in book_title:
    if item not in word_counter:
        word_counter[item] = 1
    else:
        word_counter[item] += 1
        
print(word_counter)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

creating a dictionary using **get** method. if no key found then return 0 and add 1 and if found a key then add 1.

In [123]:
word_counter = {}

for item in book_title:
    word_counter[item] = word_counter.get(item, 0) + 1 

print(word_counter)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

Loop through dictionary.
When loop through dictionary like this ```for item in some_dict``` it will only return the keys of the dictionary. To get the value from the dictionary ```for key, value in some_dict.items()```

In [124]:
for key, value in word_counter.items():
    print(str(key)+' --- '+str(value))

great --- 2
expectations --- 1
the --- 2
adventures --- 2
of --- 2
sherlock --- 1
holmes --- 1
gasby --- 1
hamlet --- 1
huckleberry --- 1
fin --- 1

In [125]:
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']
non_fruit_count, fruit_count = 0, 0

for i, j in basket_items.items():
    if i in fruits:
        fruit_count += j
    else : 
        non_fruit_count += j

print('Fruit {} Non Fruit {}'.format(fruit_count, non_fruit_count))

Fruit 23 Non Fruit 11

## While Loop

In [126]:
card_deck = [4, 11, 8, 5, 13, 2, 8, 10]
hand = []

# adds the last element of the card_deck list to the hand list
# until the values in hand add up to 17 or more
while sum(hand)  < 17:
    hand.append(card_deck.pop())

* `break` terminates a loop

* `continue` skips one iteration of a loop

In [127]:
letters = ['a', 'b', 'c', 'd']
nums = [1, 2, 3, 4]

new_list = list(zip(letters, nums))

print(new_list)

# iterate touple 
for i, j in new_list:
    print(i,j)

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]
a 1
b 2
c 3
d 4

To unpack touple ```list1, list2 = zip(* some_list)```

In [128]:
list1, list2 = zip(* new_list)
print(list1)
print(list2)

('a', 'b', 'c', 'd')
(1, 2, 3, 4)

In [129]:
x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]


points = list(zip(x_coord, y_coord, z_coord, labels))

for i,j,k,w in points:
    print(w, i, j, k)

#print(points)

F 23 677 4
J 53 233 16
A 2 405 -6
Q -12 433 -42
Y 95 905 3
B 103 376 -6
W 14 432 23
X -5 445 -1

## Enumerate
Enumerate returns an iterator of tuples containing indices and values of a list. Enumerate is useful to iterate touple or list.

In [130]:
for index, value in enumerate(word_counter):
    print(index, value)

0 great
1 expectations
2 the
3 adventures
4 of
5 sherlock
6 holmes
7 gasby
8 hamlet
9 huckleberry
10 fin

## List Comprehension 

List comprehensions allow us to create a list using a for loop in one step.

In [132]:
# 1 expression 
lowecase_city = [item.lower()  for item in cities]
print(capitalized_city)

# 2 expression 
square = [i**2 for i in range(7) if i%2==0]
print(square)

# 3 expression 
square = [i**2 if i%2==0 else 0  for i in range(9)]
print(square)

['new york city', 'mountain view', 'chicago', 'los angeles']
[0, 4, 16, 36]
[0, 0, 4, 0, 16, 0, 36, 0, 64]